:root {
    --shadowStandard: 0 0 .5rem rgba(0, 0, 0, 0.3);
    --borderRadiusStandard: 1rem;
    --accentColorVar: 255, 255, 255;
    --accentColor1: rgb(var(--accentColorVar));
    --accentColor2: #EB6F17;
    --accentColor3: #5E8276;
    --accentColor1Semitransparent: rgba(var(--accentColorVar), 0.7);
    --linksColor: rgb(0, 49, 71);
}

.textDark {
    color: white;
}

.textLight {
    color: rgb(53, 53, 53);
}

.textOverImage {
    color: white;
}

body {
    background-color: var(--accentColor1);
}

nav {
    width: 100%;
    height: 4rem;
    background-color: var(--accentColor1Semitransparent);
    backdrop-filter: blur(20px);
    position: fixed;
    top: 0;
    z-index: 99;
    display: flex;
    transition-duration: 200ms;
}

.navDropdown {
    position: absolute;
    top: 2rem;
    left: 0;
    overflow: hidden;
    border-radius: calc(var(--borderRadiusStandard) + 0.5rem);
    background-color: var(--accentColor1);
    box-shadow: var(--shadowStandard);
    width: 7rem;
    height: 0;
    transition-duration: 300ms;
}

.navLinks:hover .navDropItems2 {
    height: 13.5rem;
    width: 20rem;
    left: -1rem;
}

.navLinks:hover .navDropItems3 {
    height: 20rem;
    width: 20rem;
    left: -1rem;
}

.navLinks:hover .navDropItems4 {
    height: 26.5rem;
    width: 20rem;
    left: -1rem;
}

.navLogoImg {
    height: 4rem;
    position: absolute;
    cursor: pointer;
}

.navContainerForLinks {
    margin: auto;
    padding: 1.5rem;
    padding-bottom: 1rem;
}

.navLinks {
    padding: 0.3rem 0.5rem;
    color: var(--accentColor1);
    position: relative;
    background-color: var(--accentColor3);
    border-radius: .5rem;
    overflow: hidden;
    transition-duration: 200ms;
    box-shadow: var(--shadowStandard);
    overflow: hidden;
    cursor: pointer;
}

a {
    text-decoration: none !important;
}

.navLinks:hover {
    background-color: #EB6F17;
}

.navLinksDropdown {
    margin-right: 0.25rem;
}

.navLinksArrow {
    transition-duration: 200ms;
    width: 0;
    transform: translate(.4rem, 0);
    opacity: 0;
}

.navLinks:hover .navLinksArrow {
    width: 1rem;
    opacity: 100%;
}

.navContact {
    position: absolute;
    margin-top: 0.5rem;
    padding: 1rem 2rem 0 2rem;
    color: var(--linksColor);
    font-weight: 500;
    right: 0;
}

.pagecontainer {
    margin: auto;
    margin-top: 1rem;
    width: calc(100% - 2rem);
    max-width: 80rem;
}

.carousel-inner {
    border-radius: var(--borderRadiusStandard);
    box-shadow: var(--shadowStandard);
    border: 0.2rem solid var(--accentColor2);
}

.cardObjNav {
    border-radius: var(--borderRadiusStandard);
    box-shadow: var(--shadowStandard);
    overflow: hidden;
    margin: 0.5rem;
    height: 6rem;
    width: 19rem;
    background-color: black;
    transition-duration: 200ms;
    outline: 0.5rem solid rgba(255, 255, 255, 0);
}

.cardObj {
    border-radius: var(--borderRadiusStandard);
    box-shadow: var(--shadowStandard);
    overflow: hidden;
    margin-top: 2rem;
    aspect-ratio: 6 / 5;
    background-color: black;
    transition-duration: 200ms;
    outline: 1rem solid rgba(255, 255, 255, 0);
}

.cardBodyNav {
    position: absolute;
    margin-top: -2.5rem;
    margin-left: .8rem;
    text-shadow: 0 0 .2rem black;
    width: 18rem;
}

.h2Nav {
    font-size: 1.2rem;
    background-color: var(--accentColor3);
    border-radius: .5rem;
    padding: 0 .4rem;
    overflow: hidden;
    display: inline-block;
    transition-duration: 200ms;
    font-weight: normal;
    box-shadow: var(--shadowStandard);
}

.cardImageNav {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition-duration: 500ms;
    z-index: -99;
}

.cardObj .h2Nav {
    font-size: 1.6rem;
    padding: 0 0.5rem;
}

.h2Nav i {
    width: 0;
    transform: translate(1rem, 0);
    transition-duration: 300ms;
}

.cardObjNav:hover .cardImageNav {
    transform: scale(1.2);
}

.cardObjNav:hover .fa-angle-right {
    width: 1rem;
    transform: translate(.4rem, 0);
}

.cardObj:hover .fa-angle-right {
    width: 1rem;
    transform: translate(.4rem, 0);
}

.cardObjNav:hover .h2Nav {
    background-color: var(--accentColor2);
}

.cardObj:hover .h2Nav {
    background-color: var(--accentColor2);
}

.cardObjNav:hover {
    outline: 0.2rem solid var(--accentColor2);
}

.cardImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
    -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 1)), to(rgba(0, 0, 0, 0.5)));
    transition-duration: 500ms;
}

.ciTop {
    border-radius: 1rem 1rem 0.5rem 0.5rem;
}

.ciMiddle {
    border-radius: 1rem;
}

.ciBottom {
    border-radius: 0.5rem 0.5rem 1rem 1rem;
}

.cardBody {
    bottom: 0;
    position: absolute;
    padding: 2rem;
}

.cardObj:hover .cardImage {
    transform: scale(1.2);
}

.cardObj:hover {
    outline: 0.2rem solid var(--accentColor2);
}

.accent {
    margin-top: -15rem;
    padding-top: 16rem;
    padding-bottom: 1rem;
    margin-bottom: 3rem;
    width: 100%;
    z-index: -1;
    background-color: var(--accentColor3);
}

.accent2 {
    padding: 2rem 0;
    margin: 2rem 0;
    width: 100%;
    z-index: -1;
    background-color: var(--accentColor3);
}

.panel {
    padding: 2rem;
    padding-top: 0;
    margin-top: 1rem;
}

p {
    font-size: 1.4rem;
    margin: 0;
}

h2 {
    margin-top: 1rem;
    font-weight: 370;
}
h1 {
    font-weight: 350;
}

@media only screen and (max-aspect-ratio: 4/5) {
    .slide1 {
        content: url(media/news\ banners/vertical/1.jpg);
    }

    .slide2 {
        content: url(media/news\ banners/vertical/2.jpg);
    }

    .slide3 {
        content: url(media/news\ banners/vertical/3.jpg);
    }
}

@media only screen and (max-width: 900px) {
    .navContainerForLinks {
        display: none;
    }
}

@media only screen and (max-width: 600px) {
    .panel {
        padding: 0.5rem;
        margin-top: -2rem;
    }
}